#* @vtlvariable name="action" type="ru.otr.plugins.messagehandler.EditCreateSubTask" *#
#set ($modifierKey = $action.browserUtils.getModifierKey())
#set ($submitAccessKey = $i18n.getText('AUI.form.submit.button.accesskey'))
#set ($submitTitle = $i18n.getText('AUI.form.submit.button.tooltip', [$submitAccessKey, $modifierKey]))

#set ($cancelAccessKey = $i18n.getText('AUI.form.cancel.link.accesskey'))
#set ($cancelTitle = $i18n.getText('AUI.form.cancel.link.tooltip', [$cancelAccessKey, $modifierKey]))
<html>
<head>
    <title>$action.handlerName</title>
</head>
<body>
    <form class="aui" action="EditCreateSubTaskHandlerDetails.jspa" method="POST" name="mailHandlerForm" id="mailHandlerForm">
        <div class="form-body">
            <h2>$action.handlerName</h2>
           <span class="global-errors-location">
                #if ($action.getHasErrorMessages())
                    #foreach ($error in $action.getFlushedErrorMessages())
                        #AUImessage("error" "" $textutils.htmlEncode(${error}) "" "" "" "false")
                        #end
                #end
            </span>
            <style>
                .otr_field_label {width: 150px; float: left; display: block; clear: left; margin-bottom: 10px;}
                .otr_field_input {margin-bottom: 10px; }
            </style>

            <input type="hidden" name="atl_token" value="$atl_token">
            <label for="issue-key" class="otr_field_label">$i18n.getText('handler.issue.key')</label>
            <input type="text" class="text otr_field_input" id="issue-key" name="issueKey" value="$!textutils.htmlEncode($issueKey)">
            
            <label for="issue-type" class="otr_field_label">$i18n.getText('handler.issue.type')</label>
            <input type="text" class="text otr_field_input" id="issue-type" name="issueType" value="$!textutils.htmlEncode($issueType)">

            <label for="user-assignee" class="otr_field_label">$i18n.getText('handler.user.assignee')</label>
            <input type="text" class="text otr_field_input" id="user-assignee" name="assigneeId" value="$!textutils.htmlEncode($assigneeId)">

            <label for="user-reporter" class="otr_field_label">$i18n.getText('handler.user.reporter')</label>
            <input type="text" class="text otr_field_input" id="user-reporter" name="reporterId" value="$!textutils.htmlEncode($reporterId)">

            <label for="cf-email" class="otr_field_label">$i18n.getText('handler.cf.email')</label>
            <input type="text" class="text otr_field_input" id="cf-email" name="cfEmail" value="$!textutils.htmlEncode($cfEmail)">


        <div class="buttons-container form-footer">
            <div class="buttons">
                #if ($action.editing)
                    #set ($addButtonLabel = $i18n.getText('common.words.save'))
                #else
                    #set ($addButtonLabel = $i18n.getText('common.forms.add'))
                #end
                <input id="addButton" type="submit" class="button" value="$!addButtonLabel" accesskey="$submitAccessKey" title="$submitTitle">
                <a href="IncomingMailServers.jspa" class="cancel" accesskey="$cancelAccessKey" title="$cancelTitle">$i18n.getText("AUI.form.cancel.link.text")</a>
            </div>
        </div>
    </form>
</body>
</html>

